doctype html
html
    head
        title=title
        //css
        include ../models/common/Meta-Mobile.html
        include ../models/common/StyleSheets-Mobile.html
        script(src="controller/common/less.js")
    body
        //model
        include ../models/login/login-mobile.html
        //controller
        include ../models/common/JavaScript.html
        script(src="controller/login/login-mobile.js")