doctype html
html
    head
        title=title
        //stylesheets
        include ../models/common/StyleSheets.html
        script(src="controller/common/less.js")
    body
        //model
        include ../models/test/test.html
        //controller
        include ../models/common/JavaScript.html
        script(src="controller/test/api.js")