doctype html
html
    head
        title=title
        //css
        include ../models/common/Meta-Mobile.html
        include ../models/common/StyleSheets-Mobile.html
    body
        //model
        include ../models/test/test-mobile.html
        //controller
        include ../models/common/JavaScript.html
        script(src="controller/test/test-mobile.js")