

<ion-header-bar class="bar bar-header">
    <div class="h1 title">Log in to your account</div>
</ion-header-bar>

<ion-content class="content has-header">
    <form ng-controller="formCtrl" name="myForm" novalidate>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Mobile" ng-model="mobile" required>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="password" required>
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-dark" ng-disabled="myForm.mobile.$dirty||myForm.password.$dirty" ng-click="loginSubmit()">Submit</button>
        </div>
    </form>
</ion-content>
